<section>
    <div class="row g-0">
      <div class="col-md-6 col-lg-5 d-none d-md-block">
        <img src="assets/images/hayat.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;">
      </div>
      <div class="col-md-6 col-lg-7 d-flex align-items-center">
        <div class="card-body p-4 p-lg-5 text-black">

          <form [formGroup]="form" (ngSubmit)="login()">
            <div class="d-flex align-items-center mb-3 pb-1">
              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
              <span class="h1 fw-bold mb-0">Logo</span>
            </div>

            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

            <div class="form-outline mb-4">
              <label class="form-label" for="username" style="margin-left: 0px;">Email/ Username</label>
              <input formControlName = "username" id="username" placeholder="Username" class="form-control form-control-lg">
              <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
                <small class="text-danger" style="width: 9px;">Email/ Username is required</small>
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="password" style="margin-left: 0px;">Password</label>
              <input formControlName = "password" type="password" placeholder="Password" id="password" class="form-control form-control-lg">
              <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                <small class="text-danger" style="width: 9px;">Password is required</small>
              </div>
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
            </div>
            <a class="small text-muted" href="#!">Forgot password?</a>
          </form>

        </div>
      </div>
    </div>
</section>
