<section>
  <div class="container">
    <h2>Blog Post</h2>
  </div>
</section>
<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
<section>
<div class="container">
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th>Id</th>
        <th>User Id</th>
        <th>Title</th>
        <th>Body</th>
        <td></td>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of (posts$ | async)">
          <td>{{p.id}}</td>
          <td>{{p.userId}}</td>
          <td>{{p.title}}</td>
          <td>{{p.body}}</td>
          <td>
            <a class="btn btn-link" (click)="edit(p.id)">Edit</a>
          </td>
        </tr>
      </tbody>
  </table>
</div>

</section>
